
body{
    overflow-x: hidden;
    }
       
        .nav-bar {
            background: linear-gradient(90deg, #A9AC7F 0%, #87CCC6 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            padding-top: 10px;
            flex-wrap: wrap;
        }
      
        .nav-logo {
            display: flex;
            align-items: center;
        }
        .nav-logo img {
            height: 30px;
            margin-right: 10px;
        }
        .nav-logo p {
            font-size: 18px;
            font-weight: bold;
            color: white;
        }
      
        .search-bar {
            display: flex;
            align-items: center;
            border: 1px solid #B0B0B0;
            border-radius: 5px;
            overflow: hidden;
            max-width: 400px;
            width: 100%;
            margin: 0 20px;
        }
        .search-input {
            border: none;
            outline: none;
            padding: 10px;
            flex: 1;
            font-size: 16px;
        }
        .search-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #00796B;
            font-size: 18px;
        }
        .search-button:hover {
            color: #004D40;
        }
      
        .nav-right {
            display: flex;
         
        }
        .nav-right p {
            margin: 0 15px;
            color: white;
            font-size: 16px;
        }
        .nav-right img {
            height: 30px;
            margin-left: 10px;
        }
        
        .nav-bar2 {
            display: flex;
            color: white;
            gap: 30px;
            justify-content: center;
            background: linear-gradient(90deg, #A9AC7F 0%, #87CCC6 100%);
            height: 50px;
            align-items: center;
            flex-wrap: wrap;
            cursor: pointer;
        }
       
        .fa-search:before {
            content: "\f002";
            background: white;
            padding: 13px;
            margin-left: -5px;
        }
        .home {
            padding-left: 350px;
        }
    
        @media (max-width: 768px) {
            .nav-bar {
                gap: 20px;
                padding-top: 5px;
            }
            .nav-logo p {
                font-size: 16px;
            }
            .nav-right p {
                font-size: 14px;
                margin: 0 10px;
            }
            .search-bar {
                max-width: 300px;
            }
            .home {
                padding-left: 0;
            }
        }
    
        @media (max-width: 576px) {
            .nav-bar {
                flex-direction: column;
                gap: 10px;
            }
            .nav-logo, .nav-right, .search-bar {
                flex: 1;
                justify-content: center;
            }
            .nav-right p {
                display: none; 
            }
            .nav-bar2 {
                gap: 15px;
                font-size: 14px;
            }
            .home {
                padding-left: 0;
            }
        }
    
    
                                              /* 2 */
        .breadcrumb-wrapper {
    border-radius: 15px;
    width: 90%;
    height: 60px;
    padding: 15px;
    }
    a {
    color: black;
    text-decoration: none;
    }
    .breadcrumb-text {
    color: #555;
    margin-left: 30px;
    }
    
    @media (max-width: 576px) {
    .breadcrumb-wrapper {
      padding: 8px 15px;
    }
    
    .breadcrumb-text {
      font-size: 0.9rem;
    }
    }
    
    
    
                                            /* 3 */
          .image0 {
            background-image: url(https://s3-alpha-sig.figma.com/img/4440/0a48/82241d8412a5c1f4b0a9fc7ee567462d?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dgDmAQwOjJwXYqCh6AIEaXylVzNULmgmwy3N8e8bIb8qNlqdR5HS1B0-h-i-1WnnQiB2CqfV7hke8QW~~8jkmvWk29cRPSpLdHgU-NHEngfsev23wBXMtystVFjFM7b9eUiJwgGB8hBpbt9dEwlaAdGjNP89-SykbPSPlhMcjo0zP5i7bSFWIXZXm0Brt~cVZoIFaLqgnQ0OJthQoubw5SjYkRZOXqRT7gBZ9~ww0LdguyiCN2BlX0VvverxoSYcEd~7JlH6kSy2FHu1K-V4hEHbkWe~0bNKJMiUwOM1UmKWLRuqozzdkx4ls8DLOIaiPHPgKTzFPjwqhV1Ix~-RjA__);
            height: 300px;
            background-size: cover;
            background-position: center;
        }

        .text {
            display: flex;
            flex-direction: column;
            margin-left: 80px;
        }

        /* Media Query for smaller screens */
        @media (max-width: 768px) {
            .text {
                margin-left: 10px;  /* Adjust margin on smaller screens */
            }
        }





        


        /* 4 */
        .text0 {
            display: flex;
            flex-direction: row;
            gap: 80px;
            margin-left: 130px;
        }
        .text1 {
            color: #2abf2a;
        } 
        .image1 {
            margin-top: 20px;
        }
        .img-fluid {
            max-width: 100%;
            height: 60px;
        }
        @media (max-width: 768px) {
            .text0 {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
                text-align: center;
            }
            .image1 img {
                height: 40px; 
            }
        }
    
    



                                           /* 5 */
        .main {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        .heading {
            width: 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 90px;
        }
        .img-fluid1 {
    max-width: 100%;
   height: 430px;
}
        
        @media (max-width: 767px) {
            .main {
                flex-direction: column;
                align-items: center;
            }
            .heading {
                margin-left: 0;
                width: 100%;
                text-align: center;
            }
        }





                                           /* 6 */
        .card1, .card2, .card3, .card4 {
            height: 150px;
            width: 150px;
            border: 2px solid rgba(0, 0, 0, 1);
            margin-top: 5px;
        }
        .card1 {
            background: linear-gradient(180deg, #D9D9D9 0%, #59543F 100%);
        }
        .card2 {
            background: linear-gradient(180deg, #45EF17 0%, #47B924 100%);
            margin-top: 35px;
        }
        .card3 {
            background: linear-gradient(180deg, #D9D9D9 0%, #59543F 100%);
            margin-top: 65px;
        }
        .card4 {
            background: linear-gradient(180deg, #D9D9D9 0%, #59543F 100%);
            margin-top: 95px;
        }
        .image {
            height: 130px;
            margin-left: 10px;
        }



                                                /* 7 */
        .oval-cards-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            flex-wrap: wrap; 
        }

        .oval-card {
            width: 555px;
            height: 289px;
            background: linear-gradient(to bottom, rgba(177, 177, 153, 1), rgba(250, 250, 235, 1));
            border-radius: 50%;
            border: 2px dashed rgba(120, 121, 71, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-family: Arial, sans-serif;
            position: relative;
            margin-bottom: 20px;
        }

        .leaf-icon {
            width: 90px;
            height: 90px;
            position: absolute;
            bottom: -5px;
            right: 100px;
        }

        .oval-card h2 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: #333;
        }

        .oval-card p {
            font-size: 0.9rem;
            color: #666;
            margin: 0;
        }

      
        @media (max-width: 767px) {
            .oval-card {
                width: 90%;
                height: auto;
                margin: 10px 0; 
            }

            .leaf-icon {
                position: relative;
                bottom: auto;
                right: auto;
                margin-top: 10px;
            }
        }




                                      /* 8 */
        .pictures {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap; 
        }

        .pictures img {
            height: 300px;
            width: 600px;
            margin: 10px;
            object-fit: cover; 
        }
        @media (max-width: 768px) {
            .pictures img {
                width: 100%; 
                height: auto; 
            }
        }




                                                  /* 9 */
        .last-images-container {
            display: flex;
            justify-content: center;
            gap: 150px; 
            margin: 20px auto;
            max-width: 90%;
        }

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
        }

        .last-images-container img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: top;
            border-radius: 10px;
        }

        figcaption {
            margin-top: 10px;
            font-size: 14px;
            color: #333;
        }

        .social-icons {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .social-icon {
            font-size: 20px; 
            color: #555;
            transition: transform 0.3s ease, color 0.3s ease;
        }

        .social-icon:hover {
            transform: scale(1.2);
            color: #007bff;
        }

        @media (max-width: 768px) {
            .last-images-container {
                flex-direction: column; 
                align-items: center;
                gap: 8px;
            }

            .last-images-container figure {
                width: 80%; 
            }

            .last-images-container img {
                width: 100%; 
                height: auto; 
            }

            .social-icons {
                gap: 8px; 
            }

            .social-icon {
                font-size: 16px; 
                
            }
        }
    
                                               
        
        
        
                                                    /* 10 */
        .newsletter-row {
            border: 2px solid black;
            background: linear-gradient(90deg, #BEC0AB 19.83%, #494C47 100%);
            height: 80px;
            width: 100%;
            margin-left: 0;
            padding: 15px;
            margin-top: 60px;
        }
        .form-control1 {
            padding: 12px;
            font-size: 16px;
            width: 70%;
            max-width: 400px;
            border-radius: 4px;
            height: 50px;
            box-sizing: border-box;
            background: #D9D9D9;
            border: 1px solid #857D61;
        }
        .subscribe-btn {
            background: black;
            border-radius: 0;
            color: white;
            height: 50px;
            margin-top: -4px;
            border: none;
            margin-left: -10px;
        }
        
        .email-input-group {
            width: 100%;
        }
        
        @media (max-width: 767px) {
            .newsletter-row {
                height: auto;
                padding: 25px;
                flex-direction: column;
                align-items: center;
            }
        
            .email-input-group {
                width: 90%;
            }
        
            .newsletter-info {
                text-align: center;
                margin-bottom: 10px;
            }
        }
        
        .newsletter-info, .newsletter-input {
            display: flex;
            align-items: center;
        }
       
    
       
       
       
                                                     /* 11 */
        .custom-container {
            width: 90%;
            margin-top: 40px;
          }
          .section-heading {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 15px;
            
          }
          .section-heading1 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 15px;
            margin-left: -250px;
            color: rgba(145, 131, 131, 1);
      
          }
          .section-heading0 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 15px;
            margin-left: -70px;
            color: rgba(145, 131, 131, 1);
      
          }
          .text-content, .footer-link {
            font-size: 0.9rem;
            color: #333;
            text-decoration: none;
            margin-bottom: 8px;
          }
          .address-link a {
            display: block;
            margin-bottom: 10px;
          }
          .form-row {
          display: flex;
          justify-content: center;
          
      }
          .payment-box {
            background-color: white;
            padding: 1rem 0.5rem;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
            position: relative;
            width: 300px; /* Set width to 300px */
            height: 300px; /* Set height to 300px */
          margin-top: 10px;
           
          }
          .payment-logo {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            background: white;
            padding: 0.5rem;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
          }
          .payment-logo img {
            height: 35px; 
          }
          .payment-icons {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin: 0.5rem 0;
          }
          .payment-icons img {
            height: 45px; 
          }
          .payment-amount {
            font-weight: bold;
            color: #666;
            margin-bottom: 0.5rem;
            font-size: 0.85rem; 
          }
          .btn-group-toggle .btn {
            border-radius: 0;
            width: 45%;
            font-size: 0.8rem; 
          }
          .contact-form-control {
            height: 30px; 
            font-size: 0.8rem; 
            border-radius: 0;
          }
          .small-input {
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 0.8rem; 
          }
         
          .pay-button {
            width: 100%;
            background-color: #b71c1c;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            height: 35px; 
            margin-top: 0.5rem; 
          }
    